m2e-jaxws-tests/projects/jaxws/jaxws-p001/src/wsdl/com.brandmaker.m2e.jaxws.example.wsdl

<definitions targetNamespace="http://brandmaker.com/m2e/jaxws/example/"
             xmlns          ="http://schemas.xmlsoap.org/wsdl/"
             xmlns:soap     ="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:tns      ="http://brandmaker.com/m2e/jaxws/example/"
             xmlns:xsd      ="http://www.w3.org/2001/XMLSchema">

	<types>
		<schema targetNamespace="http://brandmaker.com/m2e/jaxws/example/"
		        xmlns          ="http://www.w3.org/2001/XMLSchema">

			<element name="createUser">
				<complexType>
					<sequence>
						<element name="name" minOccurs="1" type="string" />
					</sequence>
				</complexType>
			</element>

			<element name="createUserResponse">
				<complexType>
					<sequence>
						<element name="id" minOccurs="1" type="int" />
					</sequence>
				</complexType>
			</element>
		</schema>
	</types>

	<message name="createUserRequest">
		<part element="tns:createUser" name="createUser" />
	</message>
	<message name="createUserResponse">
		<part element="tns:createUserResponse" name="createUserResponse" />
	</message>

	<portType name="M2Example">
		<operation name="createUser">
			<input  message="tns:createUserRequest" />
			<output message="tns:createUserResponse" />
		</operation>
	</portType>

	<binding name="M2ExampleBinding" type="tns:M2Example">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />

		<operation name="createUser">
			<soap:operation soapAction="" />

			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
	</binding>

	<service name="M2Example">
		<port binding="tns:M2ExampleBinding" name="M2ExamplePort">
			<soap:address location="http://localhost:8080/m2e/example" />
		</port>
	</service>
</definitions>
